@charset "UTF-8";
/* CSS Document */

body {	background-color:#FAFAFA;
    color: #333;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height:130%;
	text-align:justify;
	font-size:18px;
	margin-top:0px;
	}

a:link{color:#4A6491;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
    text-decoration:none;
	margin-top:0px;
    margin-bottom:=0px;}

a:visited{color:#4A6491;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
    text-indent: 0;
	text-decoration:none;}

a:hover{color:#0E223D; 
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
    text-indent: 0;}


a:active {
	background-color:#E8A83F0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
    margin-bottom:0;
    text-indent: 0;
	text-decoration:none;}
	
	
	/*Cambio de páginas*/

a.estilo4:link {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#4A6491; font-size:16x; padding:5px;}
a.estilo4:visited {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#4A6491; font-size:16x;}
a.estilo4:hover {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#660000; font-size:16x; text-decoration:underline;}
a.estilo4:active{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#4A6491; font-size:16x;}


.folio{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	text-align: center;
}

	
.nota{background-color:#FAFAFA;
    color: #333;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:15px;
	line-height:130%;
	text-align:justify}
	

.capitular {color:#243363;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:22px;
	margin-bottom:0
	}
	
.cierra{text-align:right;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}

.llamada{color:#660000; font-size:16px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}

.centrar{text-align:center;
	margin-bottom:-20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
	
	
.margen{padding-left:50px;
	vertical-align:text-top;}
	
p{text-align:justify;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
	
p.derecha{text-align:right;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}

	
	

	